.degree-card {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-family: "Google Sans Medium";
  font-size: 23px;
}

.card-subtitle {
  font-family: "Google Sans Medium";
  font-size: 18px;
  margin-top: 7px;
  margin-bottom: 5px;
}

.card-img {
  width: 220px;
  height: auto;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid #234281;
  margin-right: 50px;
  box-shadow: 0px 0px 5px #234281;
  transition: all 0.2s ease-in-out;
}

.card-img:hover,
.card-body:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px #234281;
}

.body-header {
  max-width: inherit;
  display: flex;
  border-radius: 7px 7px 0px 0px;
  padding: 10px;
}

.body-header-title {
  align-items: flex-start;
  width: 80%;
}

.body-header-duration {
  width: 20%;
}
.duration {
  font-family: "Google Sans Regular";
  font-size: 16px;
  padding-right: 10px;
  float: right;
}

.body-content {
  max-width: inherit;
  border-radius: 0px 0px 7px 7px;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.content-list {
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Google Sans Regular";
}

.card-body {
  border-bottom: 1px solid #234281;
  border-left: 1px solid #234281;
  border-right: 1px solid #234281;
  border-radius: 7px;
  width: 90%;
  margin: 10px;
  box-shadow: 0px 1px 5px #234281;
  transition: all 0.2s ease-in-out;
}

.visit-btn {
  /* background-color: #6c63ff99; */
  display: inline-block;
  margin: 0px 10px 10px 0px;
  padding: 10px;
  border-radius: 7px;
  border: 0px;
  float: right;
}

.visit-btn:hover {
  /* background-color:#6c63ffcc; */
}

.btn {
  margin: 0px;
  padding: 0px;
  font-family: "Google Sans Regular";
  /* color: #000000; */
}

@media (max-width: 1380px) {
}

@media (max-width: 768px) {
  .degree-card {
    flex-direction: column;
  }

  .body-header {
    flex-direction: column;
  }

  .body-header-title {
    width: 100%;
  }

  .body-header-duration {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .duration {
    padding: 0px;
    margin: 0px;
    float: left;
  }

  .card-img {
    width: 200px;
  }

  .card-body {
    width: 100%;
  }

  .card-title {
    font-size: 20px;
  }

  .card-subtitle {
    font-size: 16px;
  }
}
